<h1 class="container text-center my-4">Bienvenido al mercado web de frutas y verduras!</h1>
<h2 class="container text-center my-4">Por favor seleccione sus productos</h2>

<div class="container mt-5">
    <div class="row row-cols-1 cols-md-4">
        {{> producto}}
    </div>
</div>