<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Web de Frutas y Verduras</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/43867e65a1.js" crossorigin="anonymous"></script>
</head>
<body>
    {{> menu}}
    {{{ body}}}
</body>
</html>